:root {
  --mid-blue: #3882f6;
  --dark-blue: #1f2937;
  --light-blue: #e5e7eb;
  --primary-color: #f9faf9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: red solid 1px; */
}

body {
  line-height: 1.4;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
}

.wrapper {
  max-width: 1100px;
  margin-inline: auto;
}

#hero,
.wrapper:not(header) {
  padding-block: 5rem;
}

.hero-bg {
  background-color: var(--dark-blue);
}

.quote-bg {
  background-color: var(--light-blue);
}

nav {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  padding-block: 0.5rem;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

#hero {
  display: flex;
  gap: 2rem;
}

#hero > * {
  flex: 1 1 200px;
  color: var(--primary-color);
}

#hero h1 {
  margin-bottom: 1rem;
}

#hero button {
  background-color: var(--mid-blue);
  color: inherit;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-size: small;
  margin-top: 1rem;
  border: none;
  outline: none;
}

.hero-placeholder {
  background-color: gray;
  padding-block: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-placeholder p {
  font-size: small;
}

#information > * {
  color: var(--dark-blue);
  text-align: center;
}

#information h2 {
  margin-bottom: 2rem;
}

.information-split {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.information-split > * {
  flex: 0 1 160px;
}

.img-placeholder {
  height: 140px;
  margin-bottom: 0.8rem;
  border: 2px solid var(--mid-blue);
  border-radius: 10px;
}

#quote {
  color: var(--dark-blue);
}

#quote blockquote {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 1rem;
}

#quote p {
  text-align: end;
  font-weight: bold;
}

#cta {
  background-color: var(--mid-blue);
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

#cta > * {
  color: var(--primary-color);
}

#cta button {
  padding: 0.3rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--primary-color);
}

footer {
  background-color: var(--dark-blue);
  padding-block: 1rem;
}

footer p {
  text-align: center;
  color: var(--primary-color);
  font-size: small;
}
